MONGO_URI=
SUPABASE_DB_URL=
SUPABASE_DB_HOST=
SUPABASE_DB_PORT=6543
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SOURCE_URL=https://www.24h.com.vn/gia-vang-hom-nay-c425.html
# postgresql://postgres.your_project_ref:your_password@your_host:6543/postgres
# mongodb+srv://your_username:your_password@your_cluster.mongodb.net/?retryWrites=true&w=majority